<section id="about" class="about" #aboutSection>

    <div class="about-content">

        <div class="text">

            <h1>Beyond the Code</h1>

            <div class="line"></div>

            <p class="about-description">
                I enjoy turning ideas into practical solutions that create real impact.
                Whether it's developing backend systems, exploring cloud technologies,
                or working with data, I am driven by curiosity and a constant desire
                to learn and improve.

                <br><br>

                What excites me most about technology is its ability to solve complex
                problems and transform ideas into meaningful experiences. Every project
                is an opportunity to challenge myself, explore new technologies, and
                build something valuable.

                <br><br>

                Currently pursuing my Master's in Information Science, I am focused on
                expanding my technical expertise while continuously learning modern
                tools, frameworks, and technologies that help me grow as a software
                professional.
            </p>
        </div>

        <div class="image-container">
            <img
                [src]="'assets/images/about.png'"
                alt="Technology Illustration"
                class="profile-image"
            />
        </div>

    </div>

</section>