<section id="about" class="about" #aboutSection>
    <div class="about-content">
        <div class="text">
            <h1>Who is Mahima?</h1>
            <div class="line"></div>
            <h3>
                I'm a passionate software professional who enjoys building scalable applications, designing efficient data systems, and solving real-world problems through technology. My experience spans backend development, data engineering, cloud technologies, and system design, with a focus on creating reliable solutions that deliver meaningful impact.
            </h3>
        </div>
        <div class="image-container">
            <img src="../../assets/images/backend.png" alt="Mahima Chaudhary" class="profile-image" />
        </div>
    </div>
</section>
