<section id="about" class="about" #aboutSection>
    <div class="about-content">
        <div class="text">
            <h1>Who is Mahima?</h1>
            <div class="line"></div>
            <h3>I'm a passionate backend developer with a strong focus on building robust and scalable applications. With expertise in backend technologies, I strive to create efficient systems that power seamless user experiences and drive business growth.</h3>
        </div>
        <div class="image-container">
            <img src="../../assets/images/backend.png" alt="Mahima Chaudhary" class="profile-image" />
        </div>
    </div>
</section>
