/* Background Section Styling */
.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    color: #c6a664;
    padding: 2rem;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.background.slide-in {
    opacity: 1;
    animation: slideInFromTop 2s ease-out forwards;
}

.background-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    opacity: 0;
    transform: translateY(-50px);
}

.slide-in .background-content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
}

/* Keyframes for sliding effect */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Text Area Styling */
.text {
    max-width: 50%;
    text-align: left;
}

.text h1 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.text h3 {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #c6a664;
    margin-bottom: 1rem;
    max-width: 80%;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #c6a664;
    margin-bottom: 1rem;
    border-radius: 2px;
}

/* Image Container Styling */
.image-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
    perspective: 1000px;
    transition: transform 0.6s ease;
    /* transform-style: preserve-3d; */
}

.image-container:hover {
    transform: rotateY(180deg);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden;
}

/* Education and Experience Styling */
.education-item, .experience-item {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #c6a664;
}

/* Responsive Adjustments for Smaller Screens (less than 768px) */
@media screen and (max-width: 768px) {
    .background-content {
        flex-direction: column;
        text-align: center;
    }

    .text {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .text h1 {
        font-size: 2rem;
    }

    .text h3 {
        font-size: 0.9rem;
        max-width: 100%;
    }

    .image-container {
        width: 200px;
        height: 200px;
    }

    .line {
        width: 40px;
        height: 2px;
        margin: 1rem auto;
    }
}

