<section id="background" class="background" #backgroundSection>
    <div class="background-content">
        <div class="image-container">
            <img src="../../assets/images/mahima.jfif" alt="Mahima Chaudhary" class="profile-image" />
        </div>
        <div class="text">
            <h1>Education</h1>
            <div class="line"></div>
            <div class="education">
                <p class="education-item">➔ Higher School, United Academy - Major in Science</p>
                <p class="education-item">➔ Bachelors, Islington College - BSc (Hons) in Computing</p>
            </div>
            <h1>Experience</h1>
            <div class="line"></div>
            <div class="experience">
                <p class="experience-item">➔ Angular Intern at IMS Software Pvt. Ltd.</p>
                <p class="experience-item">➔ Django Intern at CodeQuant Tech.</p>
                <p class="experience-item">➔ Django Developer at CodeQuant Tech</p>
            </div>
        </div>
    </div>
</section>
