<section id="background" class="background" #backgroundSection>

    <div class="background-wrapper">

        <div class="section-header">
            <h1>My Journey</h1>
            <div class="line"></div>
            <p>
                A combination of academic learning and professional experience
                that continues to shape my growth as a software developer.
            </p>
        </div>

        <div class="cards-container">

            <div class="journey-card">

                <h2>🎓 Education</h2>

                <div class="timeline-item">
                    <h3>Trine University</h3>
                    <span>Master of Science in Information Science</span>
                </div>

                <div class="timeline-item">
                    <h3>London Metropolitan University</h3>
                    <span>BSc (Hons) in Computing</span>
                </div>

                <div class="timeline-item">
                    <h3>United Academy</h3>
                    <span>Science Major</span>
                </div>

            </div>

            <div class="journey-card">

                <h2>💼 Professional Experience</h2>
                <div class="timeline-item">
                    <h3>Django Developer</h3>
                    <span>CodeQuant Tech Pvt. Ltd.</span>
                </div>

                <div class="timeline-item">
                    <h3>Django Intern</h3>
                    <span>CodeQuant Tech Pvt. Ltd.</span>
                </div>

                <div class="timeline-item">
                    <h3>Angular Intern</h3>
                    <span>IMS Software Pvt. Ltd.</span>
                </div>

            </div>

        </div>

    </div>

</section>