/* Global section style */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d; /* Black background */
    color: #c6a664; /* Coffee color for text */
    padding: 2rem;
    animation: fadeIn 2s ease-out; /* Fade-in effect on page load */
  }
  
  /* Home content styling */
  .home-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    opacity: 0; /* Initially hidden */
    animation: slideInFromTop 2s ease-out forwards; /* Slide down effect */
  }
  
  /* Keyframes for sliding content from top */
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Keyframes for fade-in effect */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Text area style */
  .text {
    max-width: 50%;
    text-align: left;
  }
  
  .text h1 {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  
  .text h2 {
    font-size: 2rem;
    color: #c6a664;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .text .btn {
    background-color: #c6a664;
    color: #0d0d0d;
    padding: 1rem 2rem;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .text .btn:hover {
    transform: translateY(-5px); /* Button moves up on hover */
    background-color: #fff;
    color: #0d0d0d;
  }
  
  /* Image Container with slanted oval shape */
.image-container {
    position: relative;
    width: 500px;
    height: 400px; /* Adjust height for an oval */
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Image styling */
  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  
  /* Responsive design for smaller screens */
  @media screen and (max-width: 768px) {
    .home-content {
      flex-direction: column;
      text-align: center;
    }
  
    .text {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  
    .image-container {
      width: 200px;
      height: 200px;
    }
  }
  