<section id="home" class="home">
  <div class="home-content">

    <div class="text">
      <p class="intro">👋 Hello, I'm</p>

      <h1>Mahima Chaudhary</h1>

      <h2>Software Developer</h2>

      <p class="description">
        I'm a passionate software professional who enjoys building scalable applications, designing efficient data systems, and solving real-world problems through technology. My experience spans backend development, data engineering, cloud technologies, and system design, with a focus on creating reliable solutions that deliver meaningful impact.
      </p>

      <a
        href="../../assets/MahimaChaudharyNew.pdf"
        download="Mahima_Chaudhary.pdf"
        class="btn"
      >
        Download Resume
      </a>
    </div>

    <div class="image-wrapper">
      <div class="glow"></div>

      <div class="image-container">
        <img
          [src]="'assets/images/mahima.jfif'"
          alt="Mahima Chaudhary"
          class="profile-image"
        />
      </div>
    </div>

  </div>
</section>